form input {
    width: 100%;
}

.successMsg a {
    font-weight: bold;
    color: #00cc00;
}

.successMsg a:focus, .successMsg a:hover {
    text-decoration: underline;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.bottom a {
    color: rgba(255, 255, 255, 0.5);
}

.bottom a:focus, .bottom a:hover {
    text-decoration: none;
    color: #fff;
}