{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="gigs" class="detail-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <a href="{% url 'website:news_list' %}" class="btn btn-primary mb-5 mb-lg-0" role="button">< Show all</a>
          <h1 class="mb-5 text-center text-white">{{ n.title }}</h1>
          {% if n.short_description %}
          <h4 class="mb-5 text-center text-white-50">
              {{ n.short_description }}
          </h4>
          {% endif %}
          <div class="row no-gutters mb-4 bg-dgray col-lg-8 mx-auto">
            <div class="my-auto py-0 px-5">
              <div class="featured-text-l text-white">
                <p class="my-0 py-4">
                    {{ n.content|linebreaksbr }}
                </p>
              </div>
            </div>
          </div>
          <p class="mb-0 text-center text-light small">
            posted {{ n.created_at|date:"F d, Y" }}
          </p>
          {% if n.modified_at != n.created_at %}
          <p class="mb-0 text-center text-white-50 small">
            modified {{ n.modified_at|date:"F d, Y" }}
          </p>
          {% endif %}
          {% if n.image %}
          <div class="row no-gutters mt-4 col-lg-8 mx-auto px-0">
            <img src="{% url 'website:index'%}{{ MEDIA_URL }}{{ n.image.name }}" class="img-fluid" width="100%">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
