{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="gigs" class="news-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <a href="{% url 'website:index' %}" class="btn btn-primary mb-5 mb-lg-0" role="button">< Home</a>
          <a href="{% url 'website:news_list' %}" class="btn btn-primary mb-5 mb-lg-0 float-right" role="button">News ></a>
          <h1 class="mb-5 text-center text-white">All shows</h1>
          {% if num_upcoming > 0 %}
          <h3 class="mb-4 text-center text-white-50">Upcoming shows</h3>
          {% endif %}
          {% for gig in gigs %}
            {% if forloop.counter0 == num_upcoming %}
            <h3 class="mt-5 mb-4 text-center text-white-50">Past shows</h3>
            {% endif %}
          {% include 'website/shows_layout.html' %}
          {% endfor %}
          {% if not gigs %}
            <p class="text-white-50 text-center">No shows planned.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
