{% load static %}

<div class="row justify-content-center no-gutters mt-4">
  <a class="col-lg-12 card bg-lgray shadow" data-toggle="collapse" href="#collapse-child-links-{{ lf.pk }}" role="button" aria-expanded="false" aria-controls="collapse-child-links-{{ lf.pk }}">
    <div class="text-center">
      <div class="row align-items-center">
        <div class="col-3 d-sm-none"></div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-3 mx-sm-0 mt-sm-0 ">
          <img src="{% url 'website:index'%}{{ MEDIA_URL }}{{ lf.image.name }}" class="img-fluid pl-sm-3 pl-md-0" width="100%">
        </div>
        <div class="col-3 d-sm-none"></div>
        <div class="col-sm-8 col-md-9 col-lg-10 my-auto">
          <div class="text-left">
            <h2 class="p-3 pt-sm-3 p-sm-0 my-auto font-weight-bold" style="font-size: large;">{{ lf.title }}</h2>
            <p class="my-auto pt-0 pt-sm-2 pb-3 px-3 px-sm-0 pr-sm-3">{{ lf.description }}</p>
          </div>
          <div class="text-center mr-2">
            <img id="expand-arrow-{{ lf.pk }}" src="{% static 'img/arrow-down.png' %}" width="20px" alt="arrow down"/>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="collapse" id="collapse-child-links-{{ lf.pk }}">
{% for key, value in child_links.items %}{% if key == lf.pk %}
{% for l in value %}
  {% include 'linkpage/child_link_layout.html' %}
{% endfor %}
{% endif %}{% endfor %}
</div>

