import os
from .settings import BASE_DIR


SECRET_KEY = 'sg8xoww6brqiw1*du#m3tc)iieo%%i9xhp&@1ppbu_b)*@ds=8'

DEBUG=False

ALLOWED_HOSTS = ['www.kaifeck.de', 'kaifeck.de']

ADMIN_URL = 'admin/'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'django-usr',
        'NAME': 'kaifeck_website',
        'PASSWORD': '****',
    }
}

# Mail
EMAIL_USE_SSL = True
EMAIL_HOST = '****'
EMAIL_PORT = 465
EMAIL_HOST_USER = '****'
EMAIL_HOST_PASSWORD = '****'
EMAIL_SENDER = 'noreply@example.com'

# Mailcow OAUTH2
MAILCOW_USER_GROUP = 'Mailcow'

MAILCOW_OAUTH_AUTHORIZATION_URL = 'https://mailcow.example.com/oauth/authorize'
MAILCOW_OAUTH_ACCESS_TOKEN_URL = 'https://mailcow.example.com/oauth/token'
MAILCOW_OAUTH_PROFILE_URL = 'https://mailcow.example.com/oauth/profile'
MAILCOW_OAUTH_CLIENT_ID = '****'
MAILCOW_OAUTH_CLIENT_SECRET = '****'

# Youtube API
YOUTUBE_API_KEY = '****'

# Legal notice
LEGAL_NOTICE = {
    'name': 'Name Surname',
    'street': 'Example street 69',
    'city': '12345 City name',
    'country': 'Germany',
    'email': 'spam@example.com',
}

# HTTPS
SECURE_HSTS_SECONDS = 1
SECURE_HSTS_INCLUDE_SUBDOMAINS = True
SECURE_SSL_REDIRECT = True
SESSION_COOKIE_SECURE = True
CSRF_COOKIE_SECURE = True
SECURE_HSTS_PRELOAD = True
SECURE_REFERRER_POLICY = 'same-origin'
