{% extends 'base.html' %}
{% load static %}

{% block description %}Kaifeck Liliput URL Shortener{% endblock %}
{% block title %}Kaifeck // Liliput{% endblock %}

{% block stylesheets %}
  <link href="{% static 'liliput/css/liliput.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a class="navbar-brand js-scroll-trigger" href="{% url 'liliput:index' %}">
        Kaifeck // Liliput URL Shortender
</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  Menu
  <i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="{% url 'website:index' %}">Homepage</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="row text-center text-lg-right w-100 mx-auto">
        {% if message %}
        <div class="mx-auto mb-5">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {% endif %}
        <h3 class="text-center text-white-50 mb-5 col-12">Create a shortened URL</h3>
        <div class="col-12">
          <form class="text-white" action="{% url 'liliput:index'%}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="row mb-4">
              <label class="{{ field.label_class }}" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              <div class="col-lg-4"></div>
            </div>
            {% endfor %}
            <div class="row">
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <p class="col-12 text-center errorMsg">{{ error }}</p>
              {% endfor %}
            {% endfor %}
            {% if new_short_url %}
              <p class="col-12 text-center successMsg">
                New URL <a id="short_url" href="{{ new_short_url }}">{{ request.get_host }}{% url 'liliput:index' %}{{ new_short_url }}</a> was created. Try it now!<br>
                Copy to clipboard: <a id="btn-copy" class="btn btn-success py-2 px-3 text-white" title="Copy to clipboard">&#x2398;</a>
                <span id="msg-copy" class="text-white-50 d-none">Copied!</span>
              </p>
            {% endif %}
              <p class="col-12 text-center errorMsg">{{ error }}</p>
            </div>
            <div class="row text-center">
              <div class="col-12">
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom w-100">
      <p class="text-white-50 text-center">
        Questions? Contact <a href="mailto:liliput@kaifeck.de">liliput@kaifeck.de</a>
      </p>
    </div>
  </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script src="{% static 'liliput/js/liliput.js' %}"></script>
{% endblock %}
